.DS_Store

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*
IndieAirwaysServer/nbproject/private/
IndieAirwaysClient/nbproject/private/
IndieAirwaysCommon/nbproject/private/
IndieAirwaysClient/build/
IndieAirwaysServer/build/
IndieAirwaysCommon/build/
IndieAirwaysCommon/dist/
IndieAirwaysServer/dist/
IndieAirwaysClient/dist/

*/nbproject/private/
*/build
*/dist

IndieAirwaysCommon/dist/IndieAirwaysCommon.jar